@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12131A;
  margin: auto;
}

/* header open */
header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.5s;
  background: rgba(0, 0, 0, 0.685);
  transition: transform 0.3s ease;
  z-index: 1;
}

.heaven {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 90px;
}

.logotext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  color: #464A66;
  text-decoration: none;
  line-height: 29px;
  margin-left: 11px;
}

.anothercolor {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 32px;
  color: #7F60A1;
}

.heavennav {
  margin-left: 230px;
}
.heavennav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.heavenli {
  margin-right: 72px;
}
.heavenli:nth-child(1) {
  padding-left: 181px;
}
.heavenli a {
  color: #FFFFFF;
  text-decoration: none;
}

.heaventext {
  display: flex;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
}

.heavenimgright {
  cursor: pointer;
  margin-left: 100px;
}
.heavenimgright img {
  height: 66px;
  margin-left: 24px;
}

.heavenimg {
  width: 77px;
  height: 77px;
  display: flex;
  text-decoration: none;
}

/* header close */
.breadcrumbs {
  margin-top: 220px;
}
.breadcrumbs ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
.breadcrumbs ul.breadcrumb li {
  display: inline;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: white;
}
.breadcrumbs ul.breadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: "/ ";
}
.breadcrumbs ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}
.breadcrumbs ul.breadcrumb li a:hover {
  color: #BFBFBF;
  text-decoration: none;
}

/* body open */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  filter: brightness(40%);
  margin-bottom: 148px;
}
.slider ul {
  list-style: none;
  width: 400%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  transition: left 2s ease-in-out;
}
.slider li {
  width: 25%;
  height: 100%;
  float: left;
}

.container {
  max-width: 100%;
  width: 1740px;
  margin: 0 auto;
}

.infocontainer {
  display: flex;
  justify-content: space-between;
}

/* Наша команда */
.ourteam {
  display: flex;
  flex-direction: column;
  width: 840px;
  height: 1172px;
}

.ourteamblockimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 840px;
  height: 560px;
  background-image: url("/Cite/image/mainpage/ourteam.png");
}
.ourteamblockimg p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 0.5px #FFFFFF;
  padding-bottom: 43px;
}

.ourteambtn {
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 38px;
  color: #ffffff;
  border-radius: 30px;
  border: 3px solid #bc8eed;
}
.ourteambtn:hover {
  background: #a67bd4;
  color: #ffffff;
  border: 3px solid #7f53ad;
  transition: all 0.2s ease;
}

.ourteamblocktext {
  display: flex;
  padding-top: 35px;
  justify-content: space-between;
}
.ourteamblocktext p {
  width: 240px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.ourteamblocktext p span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  color: #BC8EED;
}
.ourteamblocktext h1 {
  width: 540px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 26px;
  color: white;
}

/* Наша команда */
/* Присоединяйтесь к нам */
.joinus {
  display: flex;
  flex-direction: column;
  width: 840px;
  height: 1172px;
  padding-bottom: 107px;
}

.joinusblockimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 840px;
  height: 560px;
  background-image: url("/Cite/image/mainpage/joinus.png");
}
.joinusblockimg p {
  width: 492px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 0.5px #FFFFFF;
  padding-bottom: 43px;
}

.joinusbtn {
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 38px;
  color: #ffffff;
  border-radius: 30px;
  border: 3px solid #bc8eed;
}
.joinusbtn:hover {
  background: #a67bd4;
  color: #ffffff;
  border: 3px solid #7f53ad;
  transition: all 0.2s ease;
}

.joinusblocktext {
  display: flex;
  padding-top: 35px;
  justify-content: space-between;
}
.joinusblocktext p {
  width: 240px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  color: white;
}
.joinusblocktext p span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  color: #BC8EED;
}
.joinusblocktext h1 {
  width: 540px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 26px;
  color: white;
}

/* Присоединяйтесь к нам */
/* Рассылка */
.mail {
  width: 100%;
  background-color: #7F60A1;
  justify-content: center;
  display: flex;
}

.mailingcontainer {
  display: flex;
  justify-content: center;
}

.mailing {
  margin: 106px 0;
  width: 1260px;
  height: 345px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.mailingform {
  height: 86px;
}

.mailingform {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mailingform p {
  padding-top: 34px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.mailingform h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #BEBEBE;
}
.mailingform hr {
  margin-top: 22px;
  width: 80px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 5.5px;
}

.mailinginput {
  padding: 40px 132px 0 132px;
  display: flex;
  align-items: center;
}

.writemail {
  padding: 31px 750px 31px 34px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #BFBFBF;
  border-radius: 20px;
  outline: none;
  border: none;
}

.sendmail {
  padding: 17px 25px;
  margin-left: -220px;
  left: 100px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 28px;
  background: #7F60A1;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}

.gamescontainer {
  margin-top: 99px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gamescontainer p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.gamescontainer hr {
  margin-top: 22px;
  width: 80px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 5.5px;
}

.ourgames {
  margin-top: 66px;
  width: 1740px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game:nth-child(2) {
  margin: 0px 24px;
}
.game:nth-child(4) {
  margin-right: 59px;
}

.showmore {
  margin-top: 45px;
  padding: 17px 25px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  background: #7F60A1;
  border-radius: 42.5px;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}

.newscontainer {
  margin-top: 99px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.newscontainer p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.newscontainer hr {
  margin-top: 22px;
  margin-bottom: 68px;
  width: 80px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 5.5px;
}
.newscontainer h1 {
  font-family: "Montserrat";
  font-size: 40px;
  color: white;
}

.news ul {
  display: flex;
  list-style-type: none;
}
.news ul li {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 32px;
  margin-left: 45px;
}
.news ul li:nth-child(1) {
  margin-left: 0;
}
.news ul li a {
  text-decoration: none;
  color: white;
}

.countcontainer {
  width: 100%;
  margin-top: 82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-big {
  width: 840px;
  height: 544px;
}
.new-big .date {
  margin-top: 21px;
  margin-bottom: 6px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.new-big h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  color: white;
}

.newsection1 {
  display: flex;
  flex-direction: column;
}

.newsection2 {
  display: flex;
  flex-direction: column;
}

.newsmall {
  margin-top: 64px;
  display: flex;
  width: 840px;
  height: 242px;
}
.newsmall:nth-child(1) {
  margin-top: 0px;
}
.newsmall .textnew {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.newsmall .textnew .date {
  margin-top: 21px;
  margin-bottom: 6px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.newsmall .textnew h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  color: white;
}

.mocup {
  background-color: #7F60A1;
  width: 100%;
}

.prefooter {
  margin-top: 330px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.prefooter img {
  position: relative;
  bottom: 137px;
}
.prefooter .prefootertext {
  width: 840px;
}
.prefooter .prefootertext p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.prefooter .prefootertext h1 {
  margin-top: 31px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 36px;
  color: white;
}

footer {
  margin-top: 105px;
}

.allline {
  display: flex;
  justify-content: space-between;
}

.navline nav ul {
  display: flex;
  list-style-type: none;
}
.navline nav ul li {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  margin-left: 70px;
}
.navline nav ul li:nth-child(1) {
  margin-left: 0;
}
.navline nav ul li a {
  text-decoration: none;
  color: white;
}

.imgline nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.imgline nav ul li {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  margin-left: 14px;
}
.imgline nav ul li:nth-child(1) {
  margin-left: 0;
}
.imgline nav ul li a {
  text-decoration: none;
  color: white;
}

.footerimg {
  display: flex;
  text-decoration: none;
}
.footerimg img {
  width: 58px;
}

.footerlogotext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  color: #464A66;
  text-decoration: none;
  line-height: 91.4%;
  margin-left: 11px;
}

.footeranothercolor {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  color: #7F60A1;
}

.footerlogo p {
  margin-top: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  color: #BFBFBF;
  line-height: 100%;
}
.footerlogo p span {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  color: #BFBFBF;
}

.fall {
  margin-bottom: 85px;
}
.fall p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 30px;
  color: #BFBFBF;
}
.fall p span {
  margin-left: 373px;
}

/* body close */
.ourstudio {
  margin: 0 auto;
  width: 1260px;
  height: 730px;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../image/aboutus/office.png");
}

.ourstudiotext {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ourstudiotext p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 0.5px #FFFFFF;
  padding-bottom: 19px;
}
.ourstudiotext .zone {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.ourstudiotext h1 {
  width: 787px;
  margin-top: 66px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  text-align: justify;
  color: #fff;
}
.ourstudiotext h1 span {
  color: #BC8EED;
}

.linestyle {
  position: absolute;
  margin-left: 390px;
  z-index: -1;
  height: 3600px;
  border: 1px solid #7F60A1;
}

.aboutcompany {
  display: flex;
  flex-direction: column;
}
.aboutcompany p {
  display: flex;
  align-items: center;
  margin-left: 392px;
  margin-top: 184px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: #BC8EED;
}
.aboutcompany p img {
  margin-right: 9px;
}
.aboutcompany h1 {
  margin-left: 550px;
  margin-top: 51px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 32px;
  text-align: justify;
  color: white;
}
.aboutcompany .image {
  margin-left: 330px;
  margin-top: 188px;
}

.newblock {
  margin-top: 82px;
  display: flex;
  justify-content: space-between;
}
.newblock img {
  width: 840px;
}

.textstyle {
  display: flex;
  flex-direction: column;
}
.textstyle ul {
  width: 790px;
  list-style-type: decimal;
  margin-left: 60px;
  margin-top: 18px;
}

.analogdate {
  margin-bottom: 6px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.montserat {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  color: white;
}
.montserat span {
  color: #BC8EED;
}

.montserratstyle {
  font-family: "Montserrat";
  font-size: 24px;
  color: #fff;
}
.montserratstyle span {
  color: #BC8EED;
}

.askinput {
  padding: 40px 132px 36px 132px;
  display: flex;
  align-items: center;
}
.askinput .writetext {
  padding: 31px 1010px 31px 34px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  color: #BFBFBF;
  border-radius: 20px;
  outline: none;
  border: none;
}
.askinput .searchtext {
  padding: 17px 25px;
  margin-left: -220px;
  left: 100px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 28px;
  background: #7F60A1;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}

.quest_cards {
  display: flex;
  margin: 0 auto;
  margin-top: 69px;
  max-width: 100%;
  width: 1740px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overdrive_card {
  margin-bottom: 40px;
  width: 562px;
  height: 414px;
  background-image: url("/Cite/image/mainpage/overdriveNews.png");
  background-size: cover;
  border-radius: 20px;
}

.buy_card {
  margin-bottom: 40px;
  width: 562px;
  height: 414px;
  background-color: #855FAD;
  border-radius: 20px;
}
.buy_card img {
  width: 66.59px;
  height: 66.57px;
}
.buy_card a {
  margin-top: 18px;
  margin-bottom: 20px;
}

.card_style {
  display: flex;
  flex-direction: column;
  margin: 29px 0 0 47px;
}
.card_style a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  color: white;
  text-decoration: none;
}
.card_style p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.phantom_card {
  margin-bottom: 40px;
  width: 562px;
  height: 414px;
  background-image: url("/Cite/image/mainpage/phantomdreamNews.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.ghost_card {
  margin-bottom: 40px;
  width: 562px;
  height: 414px;
  background-image: url("/Cite/image/mainpage/ghostwireNews.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.lost_card {
  margin-bottom: 40px;
  width: 562px;
  height: 414px;
  background-image: url("/Cite/image/mainpage/lostmemoryNews.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.profile_card {
  display: flex;
  margin-bottom: 40px;
  width: 562px;
  height: 414px;
  background-color: #855FAD;
  border-radius: 20px;
  flex-direction: column;
}
.profile_card img {
  width: 66.59px;
  height: 66.57px;
}
.profile_card a {
  margin-top: 18px;
  margin-bottom: 20px;
}

.contactNoffice {
  margin-top: 86px;
  justify-content: space-between;
  display: flex;
}

.contactus .contacttext {
  margin-top: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.contactus .fontstyle {
  margin-top: 40px;
  margin-left: 87px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  color: #BC8EED;
}
.contactus .h1style {
  margin-left: 137px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 36px;
  color: white;
}

.office .contacttext {
  margin-top: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.office .officestyle {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 36px;
  color: white;
}

.gamecardzone {
  width: 679px;
  display: flex;
  margin-top: 23px;
}
.gamecardzone .gamecard {
  width: 292px;
  display: flex;
  flex-direction: column;
}
.gamecardzone .gamecard img {
  border: 3px solid #7F60A1;
  box-shadow: 1px 4px 12px 3px rgba(0, 0, 0, 0.25);
}
.gamecardzone .gamecard p {
  margin-top: 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.platformstyle {
  width: 140px;
  margin-left: 70px;
}
.platformstyle ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.platformstyle ul li {
  width: 49px;
}

.buyzone {
  width: 338px;
  margin-left: 49px;
}
.buyzone .language {
  width: 197px;
  margin-top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  line-height: 20px;
}
.buyzone .aboutproduct {
  width: 292px;
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.buyzone .rate {
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  color: white;
}
.buyzone .rate span {
  font-size: 30px;
  color: #F6BD28;
}
.buyzone .buy {
  width: 338px;
}
.buyzone .buy p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.buyzone .buttonstyle {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.buyzone .buttonstyle button {
  padding: 10px 38px;
  background: #7F60A1;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.buyzone .buttonstyle h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.aboutgame_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.aboutgame_block p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: white;
  margin-bottom: 20px;
}
.aboutgame_block .aboutgame p {
  width: 1057px;
  padding: 41px 43px;
  color: #ffffff;
  text-align: justify;
  font-size: 22px;
  font-family: Montserrat;
  font-weight: 500;
  background: rgba(11, 12, 16, 0.76);
}
.aboutgame_block .aboutgame p span {
  color: #BC8EED;
  text-transform: uppercase;
}

.requirements {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.requirements p {
  font-size: 24px;
  font-family: Roboto;
  color: #ffffff;
  margin-bottom: 20px;
}
.requirements h1 {
  margin-top: 25px;
  color: #FFF;
  font-size: 22px;
  font-family: Roboto;
  font-weight: lighter;
}
.requirements .requirement_bgstyle {
  padding: 41px 43px;
  width: 60.7%;
  display: flex;
  justify-content: space-between;
  background: rgba(11, 12, 16, 0.76);
}
.requirements .requirement_bgstyle .requirement_min {
  width: 516px;
}
.requirements .requirement_bgstyle .requirement_min p {
  text-decoration-line: underline;
  color: #BC8EED;
  font-size: 24px;
  font-family: Roboto;
}
.requirements .requirement_bgstyle .requirement_recomended {
  width: 516px;
}
.requirements .requirement_bgstyle .requirement_recomended p {
  text-decoration-line: underline;
  color: #BC8EED;
  font-size: 24px;
  font-family: Roboto;
}

.profile {
  margin-top: 99px;
  width: 100%;
}
.profile p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: white;
  text-align: center;
}
.profile hr {
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 68px;
  width: 80px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 5.5px;
}

.profilecontainer {
  display: flex;
  justify-content: space-between;
}

.profileblock {
  width: 680px;
}
.profileblock .iconNname {
  display: flex;
  justify-content: space-between;
}
.profileblock label {
  width: 240px;
  height: 240px;
  border-radius: 240px;
}
.profileblock label .uploadstyle img {
  width: 240px;
  height: 240px;
  border-radius: 240px;
}
.profileblock .font {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profileblock .font .emailstyle {
  color: #FFF;
  font-size: 36px;
  font-family: Montserrat;
  font-weight: lighter;
}
.profileblock .font .logout {
  margin-top: 44px;
  color: #7F60A1;
  font-size: 36px;
  font-family: Montserrat;
  text-decoration: none;
}
.profileblock .font .admin {
  margin-top: 34px;
  color: #7F60A1;
  font-size: 36px;
  font-family: Montserrat;
  text-decoration: none;
}
.profileblock .font .admin:hover {
  color: #b80606;
}

.changeprofile_block h3 {
  font-size: 48px;
  font-family: Montserrat;
  color: white;
}

.email__login {
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}

.formstyle {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.formstyle .usn {
  margin-top: 50px;
}
.formstyle .usn label {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.formstyle .email {
  margin-top: 50px;
  margin-bottom: 50px;
}
.formstyle .email label {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.formstyle input[type=text], .formstyle input[type=email] {
  width: 360px;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.formstyle input[type=submit] {
  padding: 10px 30px;
  border-radius: 20px;
  background: #7F60A1;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
}

.admin_container {
  margin-top: 170px;
}
.admin_container .admin-section {
  margin-top: 99px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin_container .admin-section h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  color: white;
}
.admin_container .admin-section hr {
  margin-top: 22px;
  margin-bottom: 33px;
  width: 80px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 5.5px;
}
.admin_container .admin-section .admin-form {
  width: 520px;
}
.admin_container .admin-section .admin-form .form-group {
  display: flex;
  flex-direction: column;
}
.admin_container .admin-section .admin-form .form-group label {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}
.admin_container .admin-section .admin-form .form-group input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.admin_container .admin-section .admin-form .form-group textarea {
  border-radius: 5px;
  border: none;
  max-width: 510px;
  min-width: 510px;
  padding: 10px 0 0 10px;
  font-size: 15px;
  font-family: Montserrat;
}
.admin_container .admin-section .admin-form .form-group:nth-child(4) {
  display: flex;
}
.admin_container .admin-section input[type=submit] {
  margin-top: 25px;
  margin-left: 25%;
  padding: 10px 30px;
  border-radius: 20px;
  background: #7F60A1;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */